body {
  font-family: "Raleway", sans-serif;
}

#Header-Section {
  background-image: url("../img/hero-full-stack-javascript.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.justify {
  text-align: justify;
}
